.board-container
{
    position: relative;
    border: 1px solid black;
    width: calc(var(--board-width) * var(--cell-size));
    height: calc(var(--board-height) * var(--cell-size));
    margin-left: 50px;
}