.editor-content
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.editor-menu h1
{
    margin: 0;    
}

.editor-menu
{
    display: flex;
    flex-direction: column;
    flex: none;
}

.editor-content
{
    flex: grow;
}