.figure-info
{
    position: absolute;
    width: calc(var(--cell-size) * var(--figure-width) - 3px);
    height: calc(var(--cell-size) * var(--figure-height) - 3px);
    left: calc(var(--pos-x) * var(--cell-size) + 2px);
    top: calc(var(--pos-y) * var(--cell-size) + 2px);
    background-color: green;
    z-index: 1;
}

.ignore-mouse
{
    pointer-events: none;
}

.dragged
{
    border: 2px solid;
}

.valid-position
{
    border-color: lightgreen;
}

.invalid-position
{
    border-color: red;
}