.figure-info
{
    position: absolute;
    width: calc(var(--cell-size) * var(--figure-width) - 3px);
    height: calc(var(--cell-size) * var(--figure-height) - 3px);
    left: calc(var(--pos-x) * var(--cell-size) + 2px);
    top: calc(var(--pos-y) * var(--cell-size) + 2px);
    background-color: green;
    z-index: 1;
}

.figure-info[dragged]
{
    border: 2px solid lightgreen;
}

.figure-info[ignore-mouse]
{
    pointer-events: none;
}

.figure-info[is-invalid]
{
    border-color: red;
}