::deep {
    --invisible-layer: -1;
    --tile-layer: 1;
    --figure-layer: 2;
    --error-layer: 3;
    --inside-selection-layer: 4;
    --selection-layer: 5;
    --drag-layer: 6;
}

.board-container {
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--board-width), var(--cell-size));
    grid-template-rows: repeat(var(--board-height), var(--cell-size));
    margin: 0 .1em;
}

.board-container[show-grid] {
    background: black;
    background-image: repeating-linear-gradient(#333 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #333 0 1px, transparent 1px 100%);
    background-size: var(--cell-size) var(--cell-size);
}