::deep {
    --invisible-layer: -1;
    --tile-layer: 1;
    --figure-layer: 2;
    --error-layer: 3;
    --selection-layer: 4;
    --drag-layer: 5;
}

.board-container {
    position: relative;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--board-width), var(--cell-size));
    grid-template-rows: repeat(var(--board-height), var(--cell-size));
    margin: 0 .1em;
}
