<div
    style="
    --pos-x: @Position.X; 
    --pos-y: @Position.Y;
    "
    class="dragged-element">
    @if(!IsValid)
    {
        <div class="invalid-position"></div>
    }
    @ChildContent
</div>
@code
{
    [Parameter, EditorRequired, AllowNull]
    public RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired]
    public Position Position { get; set; }
    [Parameter]
    public bool IsValid { get; set; }
}