.positioned-element {
    grid-column: var(--pos-x) / span var(--element-width);
    grid-row: var(--pos-y) / span var(--element-height);
    z-index: var(--figure-layer);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-element {
    border: 2px solid lightgreen;
}

.dragged-element {
    opacity: .5;
    border: 2px solid lightgreen;
    pointer-events: none;
    transition: cubic-bezier(0, 0, 0, 1) 150ms;
}

.invalid-position {
    position: absolute;
    width: calc(var(--cell-size) * var(--element-width));
    height: calc(var(--cell-size) * var(--element-height));
    z-index: var(--error-layer);
    background-color: darkred;
    border: 2px solid red;
}
