.figure {
    --figure-margin: 3px;
	width: calc(var(--cell-size) * var(--figure-width) - var(--figure-margin));
	height: calc(var(--cell-size) * var(--figure-height) - var(--figure-margin));
	background-color: green;
}