@using System.Diagnostics.CodeAnalysis

<div 
    class="figure"
    style="--figure-width: @Figure.Width; --figure-height: @Figure.Height;">
    </div>

@code
{
    [Parameter, EditorRequired, AllowNull]
    public Figure Figure { get; set; }
}   