@using System.Diagnostics.CodeAnalysis
@inject ToolManager ToolManager
@if (IsVisible)
{
<div 
    class="positioned-figure"
    style="
        --pos-x: @(Figure.Position.X); 
        --pos-y: @(Figure.Position.Y);
        "
    >
    <FigureRenderer Figure="@Figure.Element" OnDragStart="@OnDragStart"/>
</div>
}

@code
{
    [Parameter, EditorRequired, AllowNull]
    public Positioned<Figure> Figure { get; set; }
    [CascadingParameter, AllowNull]
    public Board Board { get; set; }
    [CascadingParameter, AllowNull]
    public BoardRenderer Parent { get; set; }
    public bool IsVisible => Board.Figures.Contains(Figure);
    private void OnDragStart(MouseEventArgs args, Figure _)
    {
        Position offset = new (-(int)(args.OffsetX / Parent.CellSize), -(int)(args.OffsetY / Parent.CellSize));
        ToolManager.StartDragFigure(Board, Figure, offset);
    }

}