<div class="positioned-element" style="--pos-x:@Position.X; --pos-y:@Position.Y;">
    @ChildContent
</div>

@code
{
    [Parameter, EditorRequired, AllowNull]
    public RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired]
    public Position Position { get; set; }
}