@inject ToolManager ToolManager

<div class="tile-info @TileType" @onclick="@SelectTile" @onclick:stopPropagation="true"></div>

@code
{
    [Parameter, EditorRequired]
    public required Position Position { get; set; }
    [CascadingParameter, EditorRequired]
    public required BoardData Board { get; set; }
    private string TileType => Board.HasTile(Position.X, Position.Y) ? "tile" : "no-tile";
    private void SelectTile() => ToolManager.SelectTile(Board, Position);
}