.tile-info {
    aspect-ratio: 1/1;
    width: var(--cell-size);
    border: 1px solid #222;
}

.tile {
    background-color: grey;
    border: 1px solid black;
}

.no-tile {
    background-color: black;
}
