.board-overlay {
    position: absolute;
    width: calc(var(--board-width) * var(--cell-size));
    height: calc(var(--board-height) * var(--cell-size));
}

.enabled {
    z-index: var(--tile-layer);
}

.drag-enabled {
    z-index: var(--drag-layer);
}

.disabled {
    z-index: var(--invisible-layer);
}

.preview {
    position: absolute;
    top: calc(var(--y) * var(--cell-size));
    left: calc(var(--x) * var(--cell-size));
    width: calc(var(--width) * var(--cell-size));
    height: calc(var(--height) * var(--cell-size));
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimensions {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.25em;
    text-align: center;
    white-space: nowrap;
}

.add-tiles {
    background-color: rgba(128, 128, 128, 0.5);
}

.remove-tiles {
    background-color: rgba(255, 0, 0, 0.5);
}
