@inject ToolManager ToolManager
<DropZone OnEnter="@OnDragEnter" OnDrop="@OnDrop">
    <div 
        class="tile-info @TileType"
        @onclick="@SelectTile"
        @onclick:stopPropagation="true">    
    </div>
</DropZone>

@code
{
    [Parameter, EditorRequired]
    public Position Position { get; set; }
    [CascadingParameter, AllowNull]
    public Board Board { get; set; }
    [Parameter]
    public EventCallback<Position> OnMouseEnter { get; set; }
    private string TileType => Board.HasTile(Position.X, Position.Y) ? "tile" : "no-tile";
    public void SelectTile() => ToolManager.SelectTile(Board, Position);
    private void StartDrag(MouseEventArgs args)
    {
        ToolManager.StartDrag(Board, Position);
    }

    private void OnDragEnter(Figure figure)
    {
        DragFigureTool.Shared.OnMouseOver(Board, Position);
    }

    private void OnDrop(Figure figure)
    {
        DragFigureTool.Shared.OnMouseUp(Board, Position);
    }
}