.tile-info {
    --border-width: 1px;
    aspect-ratio: 1/1;
    width: calc(var(--cell-size) - var(--border-width));
    grid-column: var(--x);
    grid-row: var(--y);
}

.tile {
    background-color: grey;
    border: var(--border-width) solid black;
}