.board-overlay {
    position: absolute;
    width: calc(var(--board-width) * var(--cell-size));
    height: calc(var(--board-height) * var(--cell-size));
}

.enabled {
    z-index: var(--tile-layer);
}

.drag-enabled {
    z-index: var(--drag-layer);
}

.disabled {
    z-index: var(--invisible-layer);
}