.drag-grid-container {
    position: absolute;
    width: calc(var(--board-width) * var(--cell-size));
    height: calc(var(--board-height) * var(--cell-size));
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--board-width), var(--cell-size));
    grid-template-rows: repeat(var(--board-height), var(--cell-size));
}

.on-top {
    z-index: var(--drag-layer);
}

.below {
    z-index: var(--invisible-layer);
}
