.drag-grid-container {
    position: absolute;
    width: calc(var(--board-width) * var(--cell-size));
    height: calc(var(--board-height) * var(--cell-size));
}

.on-top {
    z-index: var(--drag-layer);
}

.below {
    z-index: var(--invisible-layer);
}
