.drag-grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--board-width), var(--cell-size));
    grid-template-rows: repeat(var(--board-height), var(--cell-size));
}

.on-top {
    z-index: 3;
}

.below {
    z-index: -1;
}

.drag-grid-cell {
    user-select: none;
    width: var(--cell-size);
    height: var(--cell-size);
    opacity: .1;
}
