@inject IDragAndDropManager DragAndDropManager
<div
    class="dropzone-element"
    ondragover="event.preventDefault();"
    @ondragenter="@CheckDragEnter"
    @ondrop:preventDefault
    @ondrop="@CheckDrop">
    @ChildContent
</div>

@code
{
    [Parameter, EditorRequired]
	public required RenderFragment ChildContent { get; set; }
    [Parameter, EditorRequired]
    public required EventCallback<Figure> OnEnter { get; set; }
    [Parameter, EditorRequired]
    public required EventCallback<Figure> OnDrop { get; set; }

    private void CheckDrop(DragEventArgs args)
    {
        if (DragAndDropManager.DraggedData is Figure figure)
        {
            OnDrop.InvokeAsync(figure);
        }
    }

    private void CheckDragEnter(DragEventArgs args)
    {
        if (DragAndDropManager.DraggedData is Figure figure)
        {
            OnEnter.InvokeAsync(figure);
        }
    }
}