@using CaptainCoder.TacticsEngine.Board
<div class="board-container">
    
</div>

@code
{
    public int Width { get; set; }
    public int Height { get; set; }
    private Board _board = new();
    
}