@using CaptainCoder.TacticsEngine.Board
<div class="board-container">
    @foreach (Position position in _board.Tiles.Keys)
    {
        <div 
            class="tile"
            data-pos-x=@position.X;
            style="
                --pos-x: @(position.X); 
                --pos-y: @(position.Y);"
            @onclick="() => SelectTile(position)"
            >
            (@position.X, @position.Y)
        </div>
    }
</div>

@code
{
    public int Width { get; set; } = 10;
    public int Height { get; set; } = 10;
    private Board _board = new();

    protected override void OnInitialized()
    {
        BoundingBox box = new (new Position(2, 2), 3, 3);
        _board.CreateEmptyTiles(box.Positions());
        _board.CreateEmptyTile(1, 1);
    }

    private void SelectTile(Position selected)
    {
        
    }
}