.tile
{
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    left: calc(var(--pos-x) * var(--cell-size));
    top: calc(var(--pos-y) * var(--cell-size));
}

.board-container
{
    --cell-size: 50px;
    position: relative;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}