.editor-content
{
    display: flex;
    flex-direction: row;
    gap: 1em;
    height:calc(100vh - 0.5em);
    margin: .25em;
    border: 1px solid black;
    border-radius: 0.25em;
    overflow: hidden;
}

.editor-menu h1
{
    margin: 0;    
}

.editor-menu
{
    display: flex;
    flex-direction: column;
    flex: none;
    width: 12em;
}

.board-panel
{
    flex-shrink: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.panels-content
{
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
}