<div class="draggable-element"
    @onmousedown="@(() => _mouseDown = true)"
    @onmouseup="@(() => _mouseDown = false)"
    @onmousemove="@CheckDragStart">
	@ChildContent
</div>

@code
{
    [Parameter, EditorRequired]
	public required RenderFragment ChildContent { get; set; }

    [Parameter, EditorRequired]
    public required EventCallback<MouseEventArgs> OnDragStart { get; set; }
    private bool _mouseDown = false;
    
    private void CheckDragStart(MouseEventArgs args)
    {
        if (_mouseDown)
        {
            _mouseDown = false;
            OnDragStart.InvokeAsync(args);
        }
    }
}