h2 {
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.figure-panel {
    --cell-size: 25px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: .25em;
    min-width: 300px;
    padding: .25em;
}