@using System.Diagnostics.CodeAnalysis;
@using CaptainCoder.TacticsEngine.Board
@inject ToolManager ToolManager
<div class="figure-panel">
    <h2>Figures</h2>
    @foreach(Figure figure in _figures)
    {
        <FigureRenderer Figure="@figure" OnDragStart="@OnDragStart"/>   
    }
</div>

@code
{
    [CascadingParameter, EditorRequired, AllowNull]
    public Board CurrentBoard { get; set; }
    private List<Figure> _figures = [
		new Figure(1, 1),
        new Figure(2, 2),
        new Figure(1, 2),
        new Figure(2, 1),
        new Figure(3, 2),
        new Figure(3, 3),
    ];

    private void OnDragStart(MouseEventArgs args, Figure figure)
    {
        ToolManager.StartDragFigure(CurrentBoard, figure);
    }
}
